/exercicio-1-arquitetura/Codigo/Biblioteca/BibliotecaWebTests/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/BibliotecaAPI/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/Service/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/BibliotecaWeb/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/ServiceTests/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/Util/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/Core/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/Domain/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/Application/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/Infrastructure/bin
/exercicio-1-arquitetura/Codigo/Biblioteca/Util/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/BibliotecaAPI/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/BibliotecaWebTests/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/BibliotecaWeb/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/ServiceTests/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/Service/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/Core/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/Domain/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/Application/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/Infrastructure/obj
/exercicio-1-arquitetura/Codigo/Biblioteca/.vs
